:root {
  --bg: #f5f5f5;
  --text: #111827;

  --header-bg: #111827;
  --header-border: #dddddd;

  --nav-btn-bg: #1f2937;
  --nav-btn-text: #e5e7eb;
  --nav-btn-border: #374151;

  --nav-btn-hover-bg: #2563eb;
  --nav-btn-hover-border: #2563eb;

  --focus-outline: #93c5fd;

  /* Links in light mode */
  --link-color: #2563eb;
  --link-hover: #1d4ed8;
}

:root.dark {
  --bg: #020617;
  --text: #e5e7eb;

  --header-bg: #020617;
  --header-border: #1f2937;

  --nav-btn-bg: #111827;
  --nav-btn-text: #e5e7eb;
  --nav-btn-border: #374151;

  --nav-btn-hover-bg: #2563eb;
  --nav-btn-hover-border: #2563eb;

  --focus-outline: #93c5fd;

  /* Llinks in dark mode */
  --link-color: #93c5fd;
  --link-hover: #bfdbfe;
}

/* genneral style */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background: var(--bg);
  color: var(--text);
}

/* Links */
a {
  color: var(--link-color);
  text-decoration: underline;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--link-hover);
}

/* Top header on page */
body > header {
  padding: 1rem;
  border-bottom: 1px solid var(--header-border);
  background: var(--header-bg);
}

/* Layout nav */
.nav {
  display: flex;
  gap: 12px;
  justify-content: center;
}

/* Buttons in menu*/
.nav-btn,
.primary-btn {
  display: inline-block;
  padding: 8px 18px;
  border-radius: 999px;
  border: 1px solid var(--nav-btn-border);
  background: var(--nav-btn-bg);
  color: var(--nav-btn-text);
  font-size: 0.95rem;
  text-decoration: none;
  transition:
    background 0.15s ease,
    border-color 0.15s ease,
    transform 0.1s ease;
}


#theme-toggle {
  padding-inline: 10px;
  font-size: 1.2rem; 
}

.nav-btn:focus-visible,
.primary-btn:focus-visible {
  outline: 2px solid var(--focus-outline);
  outline-offset: 2px;
}

main {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem 3rem;
}

main h1 {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

main h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

main p {
  margin: 0 0 0.8rem;
}


/*  Gallery */
.gallery-section {
  margin: 2rem 0;
}

.gallery-section h2 {
  margin-bottom: 0.75rem;
}

/* Grid 3 on pc */
.pswp-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* screen adaption*/
@media (max-width: 700px) {
  .pswp-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .pswp-gallery {
    grid-template-columns: 1fr;
  }
}

/* Square in gallery*/
.pswp-gallery a {
  display: block;
  border-radius: 12px;
  overflow: hidden;
  aspect-ratio: 4 / 3; /* alle thumbnails samme format */
}

/* thumbnail img */
.pswp-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

